/* @license
 * Copyright Chris Meyer!
*/

{
   margin: 0;
   border: 0;
   padding: 0;
}

div, header, nav, section, footer {
   display: block;
}

html {
   overflow-y: scroll;
}

body {
   margin: 0;
   background-color: #01256e;
   font-size: 100%;
   line-height: 1.5;
   font-family: 'Open Sans', sans-serif;
   color: #44464b;
}

h1 {
   font-family: 'Gentium Basic', serif;
   /*font-family: 'Open Sans', sans-serif;*/
   font-size: 2.8em;
   font-weight: normal;
   color: #01256e;
}
h2 {
   font-family: 'Gentium Basic', serif;
   font-size: 1.8em;
   line-height: 1;
   font-weight: normal;
   color: #01256e;
}
h3 {
   font-family: 'Gentium Basic', serif;
   font-size: 1em;
   font-weight: normal;
}
h4 { font-family: 'Gentium Basic', serif; }
h5 { font-family:'Gentium Basic', serif;  }

img {
   height: auto;
   border: 0;
   max-width: 100%;
}

a {
   text-decoration: underline;
   font-weight: bold;
   color: #95001a;
}

a:hover {
   text-decoration: none;
   font-weight: bold;
   color: #00144d;
}

.unpadded {
   margin: 0 auto;
   max-width: 940px;
   min-width: 755px;
}

.padded {
   overflow: hidden;
   margin: 0 auto;
   max-width: 860px;
   min-width: 755px;
   padding-right: 40px;
   padding-left: 40px;
}

#header {
   background:#00144d;
   /*background:-moz-linear-gradient(top,#651110 0%,#7d0101 100%);
   background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#651110),color-stop(100%,#7d0101));
   background:-webkit-linear-gradient(top,#651110 0%,#7d0101 100%);
   background:-o-linear-gradient(top,#651110 0%,#7d0101 100%);
   background:-ms-linear-gradient(top,#651110 0%,#7d0101 100%);
   background:linear-gradient(top,#651110 0%,#7d0101 100%);*/
   /*background:-moz-linear-gradient(top,#7d0101 0%,#651110 100%);
   background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#7d0101),color-stop(100%,#651110));
   background:-webkit-linear-gradient(top,#7d0101 0%,#651110 100%);
   background:-o-linear-gradient(top,#7d0101 0%,#651110 100%);
   background:-ms-linear-gradient(top,#7d0101 0%,#651110 100%);
   background:linear-gradient(top,#7d0101 0%,#651110 100%);*/
   /*border-top:1px solid #4a0404;*/
   /*border-bottom:1px solid #4a0404;*/
   border-top:1px solid #82afd3;
   /*border-bottom:1px solid #82afd3;*/

   overflow: hidden;
   width: 100%;
   min-width: 940px;
   padding: 0.5em 0;
}

#header h1 {
   line-height: 1;
   color: #ffffff;
   margin: 0;
   float: left;
}

#header img {
   float: right;
   height: 2.8em;
   display: block;
}

#nav {
   /*background:-moz-linear-gradient(top,#767676 0%,#d6d6ce 100%);
   background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#767676),color-stop(100%,#d6d6ce));
   background:-webkit-linear-gradient(top,#767676 0%,#d6d6ce 100%);
   background:-o-linear-gradient(top,#767676 0%,#d6d6ce 100%);
   background:-ms-linear-gradient(top,#767676 0%,#d6d6ce 100%);
   background:linear-gradient(top,#767676 0%,#d6d6ce 100%);*/
   background-color: #01256e;
   width: 100%;
   min-width: 940px;
   border-top:1px solid #000f3a;
}

#navcontainer {
   position: relative;
   line-height: 0;
}

#navcontainer img {
   width: 100%;
}

#navcontainer ul {
   position: absolute;
   bottom: 20px;
   left: 20px;
   list-style: none;
   font-size: 1.4em;
   line-height: 1;
   margin: 0;
   border: 0;
   padding: 0;
}

#navcontainer ul li {
   font-family: 'Gentium Basic', serif;
   /*font-weight: bold;*/
   float: left;
   margin-right: 20px;
}

#navcontainer ul li a {
   text-decoration: none;
   font-weight: normal;
   /*background-color: #95001a;*/
   padding: 0.25em 0.5em;
   /*color: #fff;*/
   color: #f2c100;
   background-color: rgba(149, 0, 26, 0.85);
}

#navcontainer ul li a:hover {
   color: #f2c100;
   font-weight: normal;
   /*background-color: #c2004d;*/
   background-color: #95001a;
}

#main {
   background-color: #f2f2f3;
   width: 100%;
   min-width: 940px;
   border-bottom:1px solid #0e0e0e;
}

#right-picture {
   position: relative;
   float: right;
   width: 30%;
   max-width: 300px;
   margin: 40px 0 40px 40px;
}

#center-picture {
   /*position: relative;*/
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   max-width: 300px;
}

#content {
   background-color: #fff;
}

#footer {
   width: 100%;
   min-width: 940px;
   background:#00144d;
   /*background:#403f3f;
   background:-moz-linear-gradient(top, #403f3f 0%, #383737 100%);
   background:-webkit-gradient(linear,left top,left bottom,color-stop(0%, #403f3f),color-stop(100%, #383737));
   background:-webkit-linear-gradient(top, #403f3f 0%, #383737 100%);
   background:-o-linear-gradient(top, #403f3f 0%, #383737 100%);
   background:-ms-linear-gradient(top, #403f3f 0%, #383737 100%);
   background:linear-gradient(top, #403f3f 0%, #383737 100%);
   border-top:1px solid #4f4e4e;*/
   color: #82afd3;
   font-size: 0.75em;
   text-align: center;
   padding: 1em 0 2em;
}

#footer a {
   text-decoration: none;
   color: #82afd3;
}

#footer a:hover {
   text-decoration: underline;
   color: #fff;
}
